.TableContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.cWPA {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}

.cWPA thead tr {
  background-color: #696969;
  color: #ffffff;
  text-align: center;
}

.cWPA th,
.cWPA td {
  padding:8px 8px;
}

.cWPA tbody tr {
    border-bottom: 1px solid #dddddd;
}

.cWPA tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.cWPA tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.cWPA tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
