@media screen and (min-width: 1000px){
  .TableContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

.cWPA {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
}

.selPS {
  width: 40px;
  margin-right: 0.5px;
  margin-left: 0.5px;
  cursor: pointer;
  display: inline-block;
}
