* { margin: 0; padding: 0; box-sizing: border-box;  }
ul, li { list-style: none }
a { text-decoration: none; }

header { margin: 0 auto; width: 100%px; height: 100px; position: relative; background-color: black; }
nav { width: 600px; position: absolute; top: 25px; right: 30px; }
nav > ul { overflow: hidden; }
nav > ul > li { float: left; width: 33.3%; text-align: center; }
nav > ul > li > a { display: inline-block; padding: 12px 0px; width: 100%;  color: white; font-weight: bold; }
nav > ul > li:hover > a { color: white;  background: #2d2d2d; }

.submenu { display: none; position: absolute; z-index: 99; text-align: center; background: #2d2d2d; }
.submenu > li > a { display: inline-block; padding: 14px 0px; color: white; width: 200px ; font-size: 15px;  }
.submenu > li > a:hover { background: #ccc; }

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
